VITE_APP_TITLE=Portfolio Pro
VITE_API_BASE_URL=/api
FROM_EMAIL=portfolio@yourdomain.com
RESEND_API_KEY=re_***********************
CONTACT_EMAIL=your-email@yourdomain.com
UPSTASH_REDIS_REST_URL=https://********:******@********.upstash.io
UPSTASH_REDIS_REST_TOKEN=************************
SENTRY_DSN=https://************************@sentry.io/********